body {
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white
}


.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% of the viewport height */
}

.search-bar {
  width: 100%; /* Adjust the width as needed */
  text-align: center;
}

.search-input {
  width: 100%;
  padding: 4px;
  placeholder: gray;
}

.search-button {
  background-color: white;
  padding: 4px;
}
.nav-list li {
  margin: 0 10px; /* Add some spacing between list items */
}